body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.container{
    background-color: #eefffe;
    display:inline-block;
    padding: 10px 20px 30px;
    text-align: left;
}

.container p{
    margin: 0px;
}

.reg-form{
	display: inline-block;
	border-style: solid;
    border-width: 1px;
	padding: 10px;
}

.form-group{
    border-color: #93dde3;
    border-style: dashed;
    border-width: 0px;
    border-bottom-width: 1px;
    padding: 10px 0px;
}

.form-group label{
    display: inline-block;
    width: 150px;
}

.submit{
    text-align: center;
    margin-top: 10px;
}