html{
    background-color: #9BB7C3;
    position: relative;
    min-height: 100%;
}

body{
    margin:0;
    padding:0;  
}

.page{
    background-color: #FDFDFD;
    box-shadow: 6px 9px 5px rgba(0, 0, 0, 0.2);    
    min-height: calc(100vh - 86px);
    width: 500px;
    padding: 49px 0 37px;
    margin: 0 auto;   
}

header{
    position: absolute;
    left: 0;
    top: 14px;
}

footer{
    position: absolute;
    bottom: 18px;
    left: 0;
    color: #5B5B5B;
    font-family: arial;
    font-weight: bold;
    font-size: 9px;
    text-align:center;
}

footer a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

.line {
    width: 100%;
    height: 19px;
    background: linear-gradient(to right, #A775AA, #F5F5F5, #F5F5F5, #A775AA);
}

.freepik-web-site{
    background: url(Images/freepik-logo.png) no-repeat top left;
    padding-left:20px;
    display: inline-block;
    height: 16px;
    background-size: contain;
    font-size: 13px;
    line-height: 19px;
}

.section-wrapper{
    display: flex;
    font-family: Arial;
    padding: 0 29px;
}

.section{
    width: 50%;
}

.left-seciton{
    margin-right: 14px;
}

.right-section{
    margin-left: 14px;
}

.personal-information, .header{
    text-transform: uppercase;
}

.personal-information{
    margin-bottom: 20px;
    padding-left: 11px;
}

.name, .surname, .header, .left-quote, .right-quote{
    font-weight: bold;
}

.name, .surname, .web-and-graphic, .designer, .header, .available-for, .hire-and-freelance, .contact-form-input, .contact-form-label{
    max-width: 205px;
    word-break: break-all;
}


.name, .surname{
    font-family: verdana;
}

.name{
    font-size: 47px;
    letter-spacing: -3px;
    margin: -10px 0 0 -3px;
}

.surname{
    font-size: 26px;
    letter-spacing: -1px;
    margin-top: -8px;
    display: block;
    padding-left: 3px;
}

.web-and-graphic, .designer, .left-quote, .right-quote{
    color: #8f4d8b;
}

.web-and-graphic {
    font-size: 19px;
    margin: 18px 0 0 0;
    font-family: sans-serif;
    letter-spacing: -1px;
    font-weight: normal;
}

.designer{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: -2px;
    font-weight: normal;
    margin: 0;
    display: block;
}

.tile{
    margin-bottom: 20px;
}

.header{
    border-left: solid 4px #691D68;
    font-size: 11px;
    margin:0;
    padding: 3px 0 3px 7px;
}

.lorem {
    font-size: 6px;
    padding: 0 20px;
    margin: 0;
}

.lorem::before, .lorem::after{
    font-size: 44px;
    color: #8f4d8b;
    display: block;
}

.lorem::before{
    content: open-quote;
    margin-left:-11px;
    height: 35px;
}

.lorem::after{
    content: close-quote;
    margin:6px -11px 0 0;
    height: 28px;
    text-align:right;
}

.education-list{
    margin: 5px 0 0 3px;
}

.experience-list{
    margin: 5px 0 0 12px;
}

.list-item{
    display:flex;
}

.list-item{
    height: 100%;
}

.education{
    border-left: 2px solid #8f4d8b;
}

.education::before{
    content: "";
    border: 3px solid transparent;
    border-left: 6px solid #8f4d8b;
    height: 0;
    width: 0;
}

.education:last-child{
    border:none;
}

.education:last-child::before{
    content: "";
    border: 4px solid transparent;
    border-left: 8px solid #8f4d8b;
    height: 0;
    width: 0;
    margin-top: -1px;
    margin-right: -2px;
}

.year{
    font-size: 7px;
    font-weight:bold;
    margin-right: 15px;
    margin: 0 15px 0 0 ;
}

.qualification, .company-name{
    color: #8f4d8b;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    margin: 0;
}

.institution-name, .job-name{
    font-weight: bold;
    font-size: 10px;
    margin: 0;
}

.short-description{
    font-size: 6px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.list-item-content p, .list-item-content h3, .list-item-content h4{
    max-width: 140px;
    word-break:break-all;
}

.reason{
    padding-left: 16px;
    font-size: 9px;
    margin:0;
    max-width: 190px;
    word-break: break-all;
}

.available-for{
    font-weight:bold;
    font-size:14px;
}

.available-for, .hire-and-freelance{
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0;
}

.hire-and-freelance{
    font-size: 15px;
    font-weight:normal;
    display:block;
}

.contact-form{
    margin: 7px 0 33px;
}

.form-group{
    margin-bottom: 5px;
}

.contact-form-label::before{
    content:"";
    display: inline-block;
    background: #691D68;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 5px -9px 0;
}

.contact-form-label{
    font-size: 8px;
    text-transform: uppercase;
    color:#691D68;
    font-weight:bold;
    display:block;
    margin-bottom: -8px;
}

.contact-form-input{
    font-size: 8px;
    padding: 0;
    border: none;
    margin-left:21px;
    text-decoration: none;
    color: black;
}

.colored-span{
    color:#691D68;
}


.work-play-balance-wrapper, .work-play-balance-header-section{
    display:flex;
    margin-left: 7px;
}

.margin-first{
    margin-top: 10px;
}

.margin-second{
    margin-top: 22px;
}

.col{
    width: 30%;
} 

.left-col{
    text-align:left;
}

.right-aligned{
    text-align: right;
}

.work-play-balance-header, .work-play-balance-title, .work-play-balance-mid-header{
    color: #8f4d8b;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0;
}

.work-play-balance-mid-header{
    font-size: 11px;
    text-align:center;
    width: 40%;
    margin-top: 2px;
}

.work-play-balance-header{
    font-size: 13px;
    font-weight: normal;
    width: 30%;
}

.work-play-balance-title{
    font-size: 9px;
}

.work-play-balance-text{
    font-size: 8px;
    margin: 3px 0;
    word-break:break-all;
}

.mid-col{
    width: 40%;
    position: relative;
}

.circle{
    background-color: rgba(218, 109, 232, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 15%;
    margin: 0 0 0 -50px;
}

.img-in-circle{
    width: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -11px 0 0 -11px;

}

.vertical-dotted-line{
    border-left: 1px solid black;
    border-left-style: dotted;
    height: 100%;
    position: absolute;
    left: 50%;
}

.right-circle{
    margin: 0 0 0 -10px;
}

.right-col{
    text-align: right;
}
    
.p-skill-list{
    padding: 6px 16px 0 9px;
}

.p-skill-item{
    display: flex;
    margin-top: 6px;
}

.p-skill-header{
    font-size: 7px;
    font-weight: bold;
    margin:0;
    width:87px;
    max-width: 87px;
    word-break:break-all;
}

.p-skill-progress{
    height: 8px;
    background-color: #DFCFDC;
    width: 102px;
}

.p-skill-social-management, .p-skill-communication, .p-skill-creativity, .p-skill-organisation, .p-skill-team-player{
    background: linear-gradient(to right, #A775AA, #F5F5F5, #F5F5F5, #A775AA);
    height:100%;
}

.p-skill-social-management{
    width: 91%;
}

.p-skill-creativity{
    width: 64%;
}

.p-skill-organisation{
    width: 97%;
}

.p-skill-communication{
    width: 93%;
}

.p-skill-team-player{
    width: 80%;
}

.s-skill-histogram-wrapper{
    display:flex;
    margin-left: 11px;
}

.s-skill-histogram-value-wrapper{
    width: 113px;
    height: 100%;
}

.percent{
    font-size: 7px;
    margin-top: 9px;
}

.s-skill-histogram{
    border-top: solid 2px black;
    border-left: solid 2px black;
    font-size: 7px;
    padding-top: 4px;
    transform-origin: 71px 69px;
    transform: rotate(-90deg);
    width: 138px;
    height: 100%;
}

.light{
    background: linear-gradient(to bottom, #A775AA, #F5F5F5, #F5F5F5, #A775AA);
}

.dark{
    background: linear-gradient(to bottom, #441C41, #8B1B89, #8B1B89, #441C41);
    color: white;
}

.light, .dark{
    padding: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
}

.s-skill-in-design{
    width: 86%;
}

.s-skill-illustrator{
    width: 92%;
}

.s-skill-photoshop{
    width: 100%;
}

.s-skill-dreamweaver{
    width: 47%;
}

.s-skill-wordpress{
    width: 93%;
}

.s-skill-html-css{
    width: 80%;
}

.s-skill-js{
    width: 46%;
}

.s-skill-print, .s-skill-write{
    width: 10px;
    height: 10px;
}

.s-skill-print{
    background: linear-gradient(to right, #A775AA, #F5F5F5, #F5F5F5, #A775AA);
    margin-left: 26px
}

.s-skill-write{
    background: linear-gradient(to right, #441C41, #8B1B89, #8B1B89, #441C41);
}

.s-skill-text{
    font-size: 7px;
    margin: 3px 18px 0 3px;
}

.s-skill-print, .s-skill-write, .s-skill-text{
    margin-top: -26px;
}