html{
    background-color: white;
    position: relative;
    min-height: 100%;
}

body
{
    margin:0 auto 40px;
    padding:0;
    width: 1020px;
}

header{
    background-color: #CCCCCC;
    width: 100%;
    padding: 10px 0 30px 10px;
    display: flex;
    box-sizing: border-box;
}

.logo{
    color:#26619D;
    font-size:40px;
    font-weight:bold;
    margin-right: 20px;
}

.header-text{
    font-size: 25px;
    color: #6B6B78;
    text-transform: uppercase;
}

.header-smaller-text{
    color:#A3A8B2;
    font-size: 23px;
}

.content-wrap{
    display:flex;
}

.content-left{
    width: 30%;
}

.content-right{
    width: 70%;
    padding: 20px;
}

.main-navigation{
   background-color:#383838;
   color: white;
}

.main-navigation ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}

.main-navigation ul li{
    padding: 0 10px;
    display: inline;
}

.navigation-list{
    display: block;
    list-style: none;
    background-color:#383838;
    color: white;
    border: 7px solid gray;
    text-align: center;
    padding: 0px;
}

.navigation-list li{
    padding: 10px 0;
}

.content-table{
    width: 100%;
}

thead{
    background-color: gray;
}

h2{
    color:#A3A8B2;
}

footer {
    position: absolute;
    left: 50%;
    margin-left: -510px;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 1020px;
    background: linear-gradient(to top, #383838, white);
    text-align:center;
}